header {
 font-family: Futura; Trebuchet MS;
 font-weight: bold condensed;
 color: #AC2B37; 
 font-size: 25px;
 padding: 25px 50px;
}

body {
 font-family: Futura; Trebuchet MS;
 font-weight: normal;
 color: #000000; 
 font-size: 15px;
 padding: 25px 50px;
}

h1 {
 font-family: Futura; Trebuchet MS;
 font-weight: bold condensed;
 color: ##cd1230; 
 font-size: 20px;
 padding: 25px 50px;
}

footer{
font-family: Futura; Trebuchet MS;
 font-weight: normal;
 color: ##FFFFFF; 
 font-size: 20px;
 padding: 25px 50px;
}

#content {
 padding:3px;
}

#WPI {
/*center the image*/
 display: block; 
 width: 50%;
 margin-left: auto;
 margin-right: auto;
}

#main_nav ul { 
 padding: 0; margin: 0; 
}

#main_nav li  {
 list-style-type: none; /* remove bullet points */ 
}

#main_nav li a {
 display: block;
 text-decoration: none; /* remove underline */
 border-radius: 10px;  /* rounded corners */
 margin: 6px;
 padding: 9px;
 color: #222;
 font-weight: bold;

 /* nice gradient shade on the buttons */
 background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));

 border: 1px solid #666; /* dark outline */
}

nav li:active {
  background-color: #ccc;
  background-image: none;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, .2);
}
video {
 	/* add your style definitions here */
 	/*border, padding, margin-top, margin-bottom, and border-radius.
 	border-radius: 10px;  /* rounded corners */
 margin: 6px;
 padding: 9px;
 border: 10px;
 border-radius: 10px;
 	/* transitions applied to the video element */
 	-moz-transition: all 1s ease-in-out;
 	-webkit-transition: all 1s ease-in-out;
 	-o-transition: all 1s ease-in-out;
 	-ms-transition: all 1s ease-in-out;
 	transition: all 1s ease-in-out;
}
audio {
 	/* add your style definitions here */
 /*border, padding, margin-top, margin-bottom, and border-radius.
 	border-radius: 10px;  /* rounded corners */
 margin: 6px;
 padding: 9px;
 border: 10px;
 border-radius: 10px;
 	
}
button.back{
 /*These lines override the previous styling of buttons*/
-webkit-border-image: url("greyButton.png") 0 14 0 14 stretch;
width:60px;
height: 30px;
 
/*These lines position the back button inside the header*/
position:absolute;
left:16px;
top:8px; }
header.secondary{   
padding-left: 75px;
}
button {
 /*center the button*/
display: block;
margin-left: auto;
margin-right: auto;
 
/* add your code to set top and bottom margins */
 
/*add an image to your button*/
-webkit-border-image: url("orangeButton.png") 0 14 0 14 stretch;
 
/*set width and height for the button*/
}
button {
 /*center the button*/
display: block;
margin-left: auto;
margin-right: auto;
 
/* add your code to set top and bottom margins */
 
/*add an image to your button*/
-webkit-border-image: url("orangeButton.png") 0 14 0 14 stretch;
 
/*set width and height for the button*/
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}